header {
    text-align: center;
    line-height: 1;
    padding-bottom: 15px;
}

.title {
    font-weight: bolder;
    font-size: 23px;
}

hr {
    width: 70%;
    border-top: 1px;
}

body {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Arvo', serif;
    font-size: 12px;
    color: #333;
}

p {
    padding: 3px 20px;
}

.author {
    font-style: italic;
}

.container {
    max-width: 450px;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px;
    margin: 0 auto;
    box-shadow: 1px 2px 3px rgba(0,0,0,1);
}

.contents {
    font-size: 21px;
}

.chapter {
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.left {
    padding-left: 20px;
    text-align: left;
}

.padding {
    padding-left: 22px;
}

a:visited {
    color: #10bbac;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}